@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Laila:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', 'Laila', sans-serif;
}

.laila {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
} 

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}

.cover-background {
  background-image: url('your-image-url.jpg');
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}